services:

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      # TODO: pegar dos .env
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: password